
<li>{{unVol.numero}}</li>
    
<li>{{unVol.aeroportDepart.nom}}</li>

{% for cle, prop in unVol.aeroportDepart %}
        <li>{{prop.nom}}</li>
        <li>{{prop.infoscale.dateArrive.date}}</li>
{% endfor %}