 <table>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse</th>
    </tr>
{% for cle, c in clients %}
    <tr>
        <td> {{c.nom}}</td>
        <td> {{c.prenom}}</td>
        <td> {{c.adresse}}</td>
    </tr>
 
{% endfor %}
 </table>